.body {
  padding: 5px;
  display: flex;
  min-height: 90vh;
}

.centered {
  place-items: center;
  display: flex;
  min-width: 320px;
  width: 50%;
}

.completion-circle {
  width:60px; 
  height:60px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border: 1px solid #f8f9fa; 
  border-width: 3px; 
  border-radius: 50%;
  color: #f8f9fa; 
  font-size: 16px
}

.completion-bar {
  height:52%;
  border-bottom: 1px solid #f8f9fa; 
  border-width: 3px; 
}