{% extends "submissions/layout.html" %}
{% load static %}

{% block title %}
    {% if user.is_superuser %} 
        All Classes
    {% else %} 
        My Classes
    {% endif %}
{% endblock %}

{% block body %}
  
    <div class="p-5">
        <ul class="text-light">
        {% for repo in repos %}
            <li>
                <a class="text-info" href="{% url 'submissions' repo.owner repo.name %}">{{ repo }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block scripts %} 
{% endblock %}