{% load static %} 
{% url 'index' as index_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}  
{% url 'register' as register_url %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Class Report</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script 
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
      crossorigin="anonymous">
    </script>
    <link href="{% static 'submissions/styles.css' %}" rel="stylesheet" />
    <script>
      var CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {% if user.is_superuser %}
    <script src="{% static 'submissions/sync.js' %}"></script>
    {% endif %}
    {% block scripts %} {% endblock %}
  </head>
  <body class="bg-dark">

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <a class="navbar-brand" href="">
        {% if user.is_authenticated %}
          {{ user.username }}
        {% else %} 
          Class Report
        {% endif %}
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == index_url %}active{% endif %}" 
              href="{% url 'index' %}"
              >{% if user.is_superuser %} 
                  All Classes
               {% else %} 
                  My Classes
               {% endif %}</a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link {% if request.path == logout_url %}active{% endif %}" 
                href="{% url 'logout' %}"
                >Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == login_url %}active{% endif %}"
                href="{% url 'login' %}"
                >Log In</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == register_url %}active{% endif %}"
                href="{% url 'register' %}"
                >Register</a
              >
            </li>
            {% endif %}
        </ul>

        {% if user.is_superuser %}
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-outline-light my-2 my-sm-0" href="admin">⚙️ Admin</a>
        </form>
        {% endif %}
        
      </div>
    
    </nav>

    <div class="w-100 mt-2">
      <div class="row">
          <div class="col">
              <h3 class="h-100 d-flex align-items-center justify-content-center justify-content-md-start mx-3 text-light"><p>{% block title %}{% endblock %}</p></h3>
          </div>
          <div class="col">
              <div class="d-flex flex-row-reverse m-3">
                  {% if user.is_superuser %}
                  <button type="button" class="btn btn-info" style="width:75px;" id="sync">Sync</button>
                  {% endif %}  
                  <p class="text-center my-auto mx-3 text-info">Last synchronized: {{ sync_date }}</p> 
              </div>
          </div>
      </div>
    </div>

    <div class="body">
      <div class="w-100">
      {% block body %} 
      {% endblock %}
      </div>
    </div>

  </body>
</html>
