{% load static %} 
{% url 'index' as index_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}  
{% url 'register' as register_url %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Class Report</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="{% static 'submissions/styles.css' %}" rel="stylesheet" />
    <script>
      var CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {% if user.is_superuser %}
    <script src="{% static 'submissions/sync.js' %}"></script>
    {% endif %}
    {% block scripts %} {% endblock %}
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <a class="navbar-brand" href="#">Class Report</a>
      
      <div>
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == index_url %}active{% endif %}" 
              href="{% url 'index' %}"
              ><strong>{{ user.username }}</strong></a>
            </li>
            {% endif %} {% if user.is_authenticated %}
            <li class="nav-item">
              <a 
                class="nav-link {% if request.path == logout_url %}active{% endif %}" 
                href="{% url 'logout' %}"
                >Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == login_url %}active{% endif %}"
                href="{% url 'login' %}"
                >Log In</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.path == register_url %}active{% endif %}"
                href="{% url 'register' %}"
                >Register</a
              >
            </li>
            {% endif %}
        </ul>
      </div>
    
    </nav>

    <div class="body">
      <div class="w-100">
        {% if user.is_superuser %}
        <div class="row">
            <div class="col">
                <h3 class="h-100 d-flex align-items-center justify-content-center justify-content-md-start mx-3 text-light"><p>{% block title %}{% endblock %}</p></h3>
            </div>
            <div class="col">
                <div class="d-flex flex-row-reverse m-3">
                    <button type="button" class="btn btn-info" style="width:75px;" id="sync">Sync</button>
                    <p class="text-center my-auto mx-3 text-info">Last synchronized: {{ sync_date }}</p> 
                </div>
            </div>
        </div>
        {% endif %}

        {% block body %} 
        {% endblock %}
      </div>
    </div>

  </body>
</html>
