{% extends "submissions/layout.html" %}
{% load static %}

{% block title %}
    {{ repo.owner }} / {{ repo.name }}
{% endblock %}

{% block body %}
  
    <div id="branch-list">
        {% for branch in branches %}
            <div class="card mx-md-5 px-md-5 px-sm-1 py-3 bg-dark border-0 text-md-center branch">
                <div class="card-body">
                    <h5 class="card-title text-light">{{ branch.name }}</h5>
                    <div class="mb-4 mt-4 d-flex row">
                        <div class="flex-grow-1"></div>
                        <div class="flex-grow-1">
                            <div class="d-flex">
                                <div class="d-flex flex-grow-1">
                                    <div class="completion-bar" style="--progress: {{ branch.completion }}%; --delay: 1s;border-color: #00d26a;"></div>
                                    <div class="flex-grow-1 completion-bar"></div>
                                </div>
                                <div class="completion-circle {% if branch.completion == 100 %} completion-circle-100p {% endif %}" style="--delay: 2s;">
                                    {{ branch.completion }}%
                                </div>
                            </div>
                            <div class="d-flex flex-grow-1">
                                {% for commit in branch.commits %} 
                                
                                    {% if forloop.counter > 1 %} 
                                        <div class="flex-grow-1 fade-in" style="max-width:200px; --delay: {{ forloop.counter }}s;">
                                            <div style="height:25%" class="border-bottom"></div>
                                        </div>
                                    {% endif %}
                                    <div style="width:60px; height:150px; --delay: {{ forloop.counter }}s;" class="d-flex flex-column fade-in">
                                        <div style="height:50%; display: flex; align-items: center; justify-content: center;">
                                            <h2 class="text-center text-sm commit">
                                                {% if commit.submitted %} 
                                                    ✅
                                                {% else %}
                                                    ❔
                                                {% endif %}</h2>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p style="transform:rotate(-40deg) translate(-15px, -15px)" class="text-light text-right"><small>{{ commit.name }}</small></p>
                                        </div>
                                    </div>
                                        
                                {% endfor %}
                            </div>
                        </div>
                        <div class="flex-grow-1"></div>
                    </div>  
                </div>
            </div>
        {% endfor %}
    </div>

    

{% endblock %}

{% block scripts %}
<script src="{% static 'submissions/search-branches.js' %}"></script> 
{% endblock %}